.helpCard {
  background: linear-gradient(
    135deg,
    #a60f0f 0%,
    #a60f0f 50%,
    rgba(255, 255, 255, 0.8) 240%
  );
  border-radius: 10px;
  padding: 24px 24px 70px 24px;
  text-align: left;
  position: relative;
  transition: transform 0.2s;
  height: 55%;

  &:hover {
    transform: translateY(-2px);
  }
}

.cardNumber {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/src/assets/rec.svg") no-repeat center/cover;
    z-index: -1;
  }
}

.cardIcon {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;

  img {
    width: 40%;

    @media (max-width: 900px) {
      width: 25%;
    }
  }

  @media (min-width: 901px) {
    margin-top: 10%;
  }
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
}

.cardDescription {
  color: #ffffff;
  line-height: 1.5;
  margin-top: 8px;
  text-align: left;

  h1 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
