.menu {
  position: fixed;
  bottom: 90px;
  right: 20px;
  margin-top: 10px;
  background-color: #2f2f2f;
  border-radius: 12px;
  padding: 20px;
  width: 160px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-decoration: none;

  .menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
