.sidebarMenu {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  background-color: #2f2f2f;
  border-radius: 12px;
  padding: 20px;
  width: 160px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 10;

  .menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      &:first-child {
        color: #df382d;
        display: flex; // если нужно для иконки
      }
    }
  }
}
