@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 0;
  background-color: #1b1b1b;
  max-height: 100px;
  height: 100%;
}

.leftBlock {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    text-decoration: none;
    color: white;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;

  @media (max-width: 450px) {
    // margin-right: 10px;

    img {
      width: 80px;
    }
  }
}

.brandInfo {
  h1 {
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;

    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    background: linear-gradient(
      166.51deg,
      #ffffff 13.8%,
      #ffffff 46.88%,
      #ab908b 90.33%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  p {
    font-size: 12px;
    margin: 0;
    font-weight: 600;
  }

  @media (max-width: 625px) {
    display: none;
  }
}

.mainNav {
  display: flex;
  gap: 10px;
  align-items: center;

  .navButton {
    @media (max-width: 992px) {
      display: none;
    }
  }
}

.navButton {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 26px;
  gap: 8px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  border-radius: 7px;

  &:not(.navButtonActive):hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  // Уведомление (!)
  &[data-count]::after {
    content: attr(data-count);
    position: absolute;
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #df382d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}

.navButtonActive {
  background-color: #df382d;
}

.shopButton {
  background-color: #df382d;
  padding: 14px 34px;

  a {
    text-decoration: none;
  }
}

.userControls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.languageSelector,
.currencySelector {
  position: relative;
}

.currencySelector {
  margin-right: 90px;
}

.langButton,
.currencyButton {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  background-color: transparent;
  border: 1px solid #df382d;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.arrow {
  font-size: 10px;
  margin-left: 5px;
}

.balance {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 10px;
  background-color: #2f2f2f;
  border-radius: 8px;
  position: relative;
  margin-right: 5px;
}

.balanceAmount {
  font-weight: bold;
  margin: 0 10px;
  color: white;

  @media (max-width: 390px) {
    margin: 0;
    font-size: 14px;
  }
}

.addFunds {
  width: 40px;
  height: 40px;
  background-color: #df382d;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;

  @media (max-width: 992px) {
    display: none;
  }
}

.userMenu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 4px;
  z-index: 100;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px 15px;
  background: none;
  border: none;
  color: #ffffff;
  text-align: left;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.userProfile {
  border: none;
}

.loginButton {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;

  background: linear-gradient(100.85deg, #d20d09 18.11%, #cf0200 105.95%);
  border: 2px solid #df382d;
  border-radius: 8px;

  & span {
    font-weight: bold;
    font-size: 16px;
    color: white;
  }

  & svg {
    color: white;
  }
}
