@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* line-height: 1.5; */
  font-weight: 500;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.3px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

main {
  flex: 1;
  background-color: #151515;
}

.container {
  padding: 0 1rem;
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
}
